.footer-main
.g-clearfix {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-btl {
  display: flex;
  align-items: center;
  padding: 0 37px 0 37px ;
  height: auto;
}
.footer-btl
.footer-col {
  padding: 0;
  flex: 33.3%;
}
.footer-btl
.footer-col:first-child {
  height: 100;
  padding: 10px 0 10px 0;
  width: 100%;
}
.footer-btl
.footer-col:nth-child(2) {
  height: 100;
  padding: 10px 0 10px 0;
}
.footer-btl
.footer-col:last-child{
  height: 100;
  padding: 10px 0 10px 0;
}
.home-promo-media img {
  width: 100%;
  height: auto;
}
.home-promo-media {
  width: 100%;
}

@media (max-width: 986px) {
  /* tablet */
  /* 2 columns */
  .g-container {
    width: 100%;
  }
  .footer-main
  .g-clearfix {
    flex-direction: column;
  }

  .footer-main
  .footer-col:first-child {
    width: 100%;
  }
  .g-big{
    text-align: center;
    justify-content: center;
  }
  .footer-main
  .footer-company-text {
    align-items: center;
  }
  .footer-company-text
  .g-bold {
    width: 100%;
    text-align: center;
  }

  .footer-main
  .footer-col:nth-child(2) {
    width: 100%;
    flex: none;
  }

  .footer-main
  .footer-col:last-child {
    width: 100%;
  }
  .footer-main
  .footer-menu ul {
    display: flex;
    text-align: left;
    margin-bottom: 0px;
    justify-content: space-between;
  }
 .footer-main
 .footer-menu ul ul {
   display: block;

 }

  .header-logo {
    width: 23%;
    position: relative;
    margin-right: 20px; 
  }
  .header-logo img {
    width: 100%;
    height: auto;
  }
  .header-moomap {
    width: 6%;
    position: relative;
    bottom: 5px;
  }
  .header-moomap img {
    width: 100%;
    height: auto;
    padding-bottom: 5px;
  }




  .header-contacts {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    position: absolute;
    left: 40%;
  }
  .header-contacts-phone {
    font-size: 16px;
  }
  .header-contacts-request .g-button {
    width: 165px;
    height: 35px;
    line-height: 35px;
  }
  .header-menu {
    display: none;
  }
  .home-links {
    display: none;
  }
  .properties-grid
  .p-item {
    width: 100%;
  }

  .header-fixed header {
    display: none;
  }

  .body-content-side {
    display: none;
  }
  .body-content-main {
    width: 100%;
    padding: 0;
  }
  .p-item
  .p-item-image img {
    width: 100%;
    
  }
  .properties-found {
    display: flex;
  }

  
  .text-content ul li {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  /* mobile */
  /* 1 column */
  .header-top {
    display: flex;
    align-items: center;
    height: 70px;
  }
  .header-logo {
    width: 25%;
    padding: 0;
    margin-right: 20px;
  }
  .header-logo img {
    width: 100%;
    height: auto;
  }
  .header-moomap {
    width: 7%;
    padding: 0;
    position: relative;
    bottom: 0;
  }
  .header-moomap img {
    width: 100%;
    height: auto;
    padding-bottom: 0;
  }
  .header-contacts {
    display: none;
  }
  .footer-main
  .footer-col
  .footer-menu ul {
    flex-direction: column;
    text-align: left;
  }
  .footer-main
  .footer-col:nth-child(2) 
  .footer-phone {
    font-size: 24px;
  }  

 .footer-btl{
    flex-direction: column;
    justify-content: center;
  }
 .footer-btl
 .footer-col {
    justify-content: center;
  }
  .footer-btl
  .footer-col:first-child {
    text-align: center;
  }
 .footer-btl
 .footer-col:last-child {
    height: 100;
    padding: 10px 0 10px 0;
    text-align: center;
    width: 100%;
  }
  .footer-btl
  .footer-col:last-child a {
   width: 100%;
  }
  .home-info {
    display: flex;
    flex-direction: column;
  }
  .home-info-right,
  .home-info-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 0;
  }
  .home-info-left {
    font-size: 16px;
  }
  .home-info-right-person {
    width: 100%;
    
    
  }
  
  .home-news {
    display: flex;
    flex-direction: column;
  }
  .home-news-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 0;
    margin-bottom: 18px;
  }
  .home-news-item-date {
    margin-bottom: 0;
  }


  .properties-found {
    flex-direction: column;
  }
  .properties-found
  .properties-found-search {
    margin-left: 0;
    margin-top: 15px;
  }

  .properties-list
  .p-item {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .properties-list 
  .p-item
  .p-item-image {
    width: 100%;
  }
  .properties-list 
  .p-item
  .p-item-image img {
    width: 100%;
    height: auto;
  }
  .properties-list
  .p-item
  .p-item-contents{
    width: 100%;
  }
  .p-item-extra  {
    display: flex;
    flex-direction: column;
  }
  .properties-list 
  .p-item-amenities {
    width: 100%;
  }


  .form-validate
  .form-field-line {
    flex-direction: column;
  }
  .form-validate
  .form-field-line 
  .form-field-short:first-child
  .form-input-text {
    margin: 0;
  }
  .form-validate
  .form-field-line 
  .form-field-short {
    width: 100%;
  }
  .form-validate
  .form-field-line 
  .form-field-or {
    width: 100%;
  }
  .form-validate
  .form-input-submit {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}

